.popup{
    height: auto;
    min-width: 400px;
    position: absolute;
    background: rgba(13, 33, 77, 0.11);
}

a{
    cursor: pointer;
}

pre{
    white-space: pre-wrap;
}

.div1{
    margin: 1%;
}

.info_panel{
    background: #fffddb;
    min-height: auto;
    max-height: 200px;
    overflow: auto;
}

.head{
    background: rgb(55, 162, 239);
    min-width: 400px;
    height: 20px;
}

.tag{
    color: #ff00c2;
}
.attr{
    color: #0042ff;
}

.attr_value{
    color: #0f8b07;
}

.comment{
    color: #b7b7ba;
}